.gameboard {
    margin: 10px auto;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 1px;
        padding: 20px;
        cursor: grabbing;
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        border: solid 2px black;

        &.--hover-active {
            background-color: rgba(210, 180, 140, 0.5);
            cursor: pointer;
        }

        &.--end-game {
            background-color: rgba(210, 180, 140, 0.5);
            cursor: default;
        }

        // adjusting border on cells making the classic tic-tac-toe grid

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(7) {
            border-left: none;
        }

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(9) {
            border-right: none;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            border-bottom: none;
        }
    }
}
