.gameboard {
    margin: 10px auto;
    max-width: 400px;
    background-color: white;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        align-items: center;
        justify-content: center;
        gap: 1px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        cursor: grabbing;
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        border: solid 2px black;

        &.--hover-active {
            background-color: rgba(210, 180, 140, 0.5);
            cursor: pointer;
        }

        &.--end-game {
            background-color: rgba(210, 180, 140, 0.5);
            cursor: default;
        }
    }

    
    // adjusting border on cells making the classic tic-tac-toe grid

    &__cell:nth-child(1),
    &__cell:nth-child(2),
    &__cell:nth-child(3) {
        border-top: none;
    }

    &__cell:nth-child(1),
    &__cell:nth-child(4),
    &__cell:nth-child(7) {
        border-left: none;
    }

    &__cell:nth-child(3),
    &__cell:nth-child(6),
    &__cell:nth-child(9) {
        border-right: none;
    }

    &__cell:nth-child(7),
    &__cell:nth-child(8),
    &__cell:nth-child(9) {
        border-bottom: none;
    }
}
