body {
    height: 100vh;
    background-color: rgba(210, 180, 140, 0.2);
    margin: 0;
}

.game {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none; // hide while popup is open

    &.game--active {
        display: flex; // display when pop up is closed
    }
}
