@import "./media.scss";

body {
    font-family: "EB Garamond", serif;

    p,
    ul {
        font-size: 0.8rem;

        @include tablet {
            font-size: 1rem;
        }

        @include laptop-desktop {
            font-size: 1rem;
        }
    }
}

.game {
    p {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 200px;
        margin: 1rem 0;
        padding: 20px;
        border: 2px dotted black;
        background-color: white;
    }
}

.popup {
    &__content {
        text-align: center;
    }

    &__intro {
        h2 {
            font-size: 1.2rem;
            margin-bottom: 5%;

            @include tablet {
                font-size: 1.4rem;
            }

            @include laptop-desktop {
                font-size: 1.4rem;
            }
        }

        ul {
            margin: 3% 0;
            list-style-type: none;
            padding: 0;
            line-height: 1rem;
        }

        ul li {
            margin-top: 20px;
        }
    }

    &__result-message {
        font-size: 1.2rem;
        margin-bottom: 5%;

        @include tablet {
            font-size: 1.4rem;
        }

        @include laptop-desktop {
            font-size: 1.4rem;
        }
    }
}
