body {
  height: 100vh;
  background-color: rgba(210, 180, 140, 0.2);
  margin: 0;
}

.game {
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.game.game--active {
  display: flex;
}

.gameboard {
  margin: 10px auto;
  max-width: 400px;
  background-color: white;
}
.gameboard__cells {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: grabbing;
}
.gameboard__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: solid 2px black;
}
.gameboard__cell.--hover-active {
  background-color: rgba(210, 180, 140, 0.5);
  cursor: pointer;
}
.gameboard__cell.--end-game {
  background-color: rgba(210, 180, 140, 0.5);
  cursor: default;
}
.gameboard__cell:nth-child(1), .gameboard__cell:nth-child(2), .gameboard__cell:nth-child(3) {
  border-top: none;
}
.gameboard__cell:nth-child(1), .gameboard__cell:nth-child(4), .gameboard__cell:nth-child(7) {
  border-left: none;
}
.gameboard__cell:nth-child(3), .gameboard__cell:nth-child(6), .gameboard__cell:nth-child(9) {
  border-right: none;
}
.gameboard__cell:nth-child(7), .gameboard__cell:nth-child(8), .gameboard__cell:nth-child(9) {
  border-bottom: none;
}

.btn {
  width: 120px;
  border-radius: 8px;
  border: 9px solid transparent;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0.6em 1em;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgb(105, 166, 170);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .btn {
    font-size: 1rem;
    padding: 0.6em 1.2em;
  }
}
@media only screen and (min-width: 1025px) {
  .btn {
    font-size: 1rem;
    padding: 0.6em 1.2em;
  }
}
.btn:hover {
  background-color: rgb(210, 180, 140);
}
.btn:active {
  transform: scale(0.9);
  background-color: lightgray;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(210, 180, 140, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  width: 70%;
  max-width: 500px;
}
.popup__result {
  display: none;
}
.popup__result.--show-result {
  display: block;
}
.popup__intro {
  display: none;
}
.popup__intro.--show-intro {
  display: block;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  border: none;
}
.popup__close:hover, .popup__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "EB Garamond", serif;
}
body p, body ul {
  font-size: 0.8rem;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body p, body ul {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  body p, body ul {
    font-size: 1rem;
  }
}

.game p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 200px;
  margin: 1rem 0;
  padding: 20px;
  border: 2px dotted black;
  background-color: white;
}

.popup__content {
  text-align: center;
}
.popup h2 {
  font-size: 1.2rem;
  margin-bottom: 5%;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .popup h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1025px) {
  .popup h2 {
    font-size: 1.4rem;
  }
}
.popup ul {
  margin: 3% 0;
  list-style-type: none;
  padding: 0;
  line-height: 1rem;
}
.popup ul li {
  margin-top: 20px;
}/*# sourceMappingURL=styles.css.map */